$red: #A80852;
$blue: #103C9C;
$medium-purple: #7A109C;
$purple: #30158F;
$dark-purple: #1A0C4F;
$darker-purple: #1E1836;
$lighter-gray: #9898D4;
$light-gray: #6A6A94;
$medium-gray: #333347;
$dark-gray: #242533;
$darker-gray: #12121A;

@keyframes editor-slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}

@keyframes editor-slide-down {
  0% {
    top: -100vh;
  }
  100% {
    top: 0
  }
}

@keyframes preview-slide-up {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes preview-slide-down {
  0% {
    top: 0;
  }
  100% {
    top: 100vh;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.default-font {
  font-family: Roboto, sans-serif, monospace;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
@media only screen and (max-width: 600px) {

  .app-body {
    width: 100vw;
    height: 100vh;
  }

  .editor-header {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 4vh;
    background-color: $darker-gray;
    border-bottom: 1px solid $light-gray;
  }

  .open-preview {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 50%;
    color: $light-gray;
    transform: translate(-50%, 0%);
  }

  .close-preview {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 50%;
    color: $light-gray;
    transform: translate(-50%, 0%);
  }

  .editor-panel {
    height: 100vh;
    width: 100vw;
    background-color: $darker-gray;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    animation: editor-slide-down 0.5s ease-in-out;
  }
  .editor-panel-hidden {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: -100vh;
    overflow-y: auto;
    animation: editor-slide-up 0.5s ease-in-out;
  }

  .preview-panel {
    height: 96.5vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    animation: preview-slide-up 0.5s ease-in-out;
  }
  .preview-panel-hidden {
    height: 96.5vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;
    overflow-y: auto;
    animation: preview-slide-down 0.5s ease-in-out;
  }

  #editor {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 4vh 0 0 0;
    resize: none;
    box-sizing: border-box;
  }

  #preview {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
  }
}